body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}
.mainContent{
    margin: auto;
}
.box{
    margin-top: 100px;
    text-align: center;
}
.box p{
    margin-bottom: 30px;
}
.formulario{
    margin-bottom: 20px;
}
.picturesBox{
    width: 100%;
}
.pictures{
    height: 200px;
    width: auto;
}